apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ .Values.app.cronjob }}
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ .Values.app.cronjob }}
  annotations:
    description: "定时任务{{ .Values.app.cronjob }}，{{ .Values.cronjob.schedule }}"
spec:
  schedule: "{{ .Values.cronjob.schedule }}"  
  concurrencyPolicy: {{ .Values.cronjob.concurrencyPolicy }}  
  startingDeadlineSeconds: {{ .Values.cronjob.startingDeadlineSeconds }} 
  successfulJobsHistoryLimit: {{ .Values.cronjob.successfulJobsHistoryLimit }} 
  failedJobsHistoryLimit: {{ .Values.cronjob.failedJobsHistoryLimit }} 
  jobTemplate:
    spec:
      backoffLimit: {{ .Values.cronjob.jobTemplate.backoffLimit }} 
      ttlSecondsAfterFinished: {{ .Values.cronjob.jobTemplate.ttlSecondsAfterFinished }} 
      template:
        metadata:
          labels:
            app: {{ .Values.app.cronjob }}
        spec:
          automountServiceAccountToken: false  
          enableServiceLinks: false 
          restartPolicy: OnFailure  
          securityContext:
            runAsNonRoot: true
            runAsUser: 65532
            runAsGroup: 65532
            fsGroup: 65532
            seccompProfile:
              type: RuntimeDefault
          imagePullSecrets:
{{ toYaml .Values.imagePullSecrets | indent 12 }}          
          containers:
          - name: {{ .Values.app.cronjob }}
            image: {{ .Values.image.repository }}:{{ .Values.image.tag }}  
            imagePullPolicy: {{ .Values.image.pullPolicy }}  
            command: ["/app/app"]
            args: ["cronjob"]
            envFrom:
            - configMapRef:
                name: {{ .Values.nacos.configMap }}
            env:
            - name: RUN_ENV
              value: "{{ .Values.env.env }}"
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: DEPLOYMENT_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.labels.app
            resources:
{{ toYaml .Values.cronjob.resources | indent 14 }}
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                - ALL
          dnsPolicy: ClusterFirst
